{% extends 'app/base.html' %}
{% load static %}
{% block title %}CheckOut{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in card_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.total_cost}}</p>
        </div>
      </div>
      {% endfor %}
      <p class="fw-bold">Total Cost + Rs. 70 = {{totalamount}}</p>
    <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone" id='myform'>
      {% for ad in add %}
      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.locality}} {{ad.city}} {{ad.state}}, {{ad.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" value="{{ad.id}}" name="custid" id="custadd{{forloop.counter}}">
          <label class="form-check-label fw-bold" for="">
            Address: {{ forloop.counter }} </label>
        </div>
        <div class="text-end">
           {% comment %} <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button> 
            {% endcomment %}
          

        </div>
        {% endfor %}
        <div id="paypal-button-container"></div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}

{% block payment-getway %}
<script src="https://www.paypal.com/sdk/js?client-id=ASW2HYmHS9plauaMpw4sJT67AhBBYJs3zs349drDIV8uBWrmZI02Is07an5yApDbuUQvWMsh5TU1pPlk&currency=USD"></script>
<script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{totalamount}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    document.getElementById('myform').submit();
                });
            }


        }).render('#paypal-button-container');
    </script>
</body>
{% endblock payment-getway %}