{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Confirm{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-Ms-6 offset-sm-3">
   <h3>Password Reset Confirm</h3>
       <hr />
     <form action="" method="post" novalidate class="shadow p-5">
     {% csrf_token %}
{{form}}
    <input type="submit" class="btn btn-primary mt-4" value="Save">
    {% if form.non_field.errors %}
      {% for error in form.non_field_ellform.non_field_errors %}
        <p class="alert alert-danger">{{error}}</p>
      {% endfor %}
    {% endif %}
   </form>
     </div>
  </div>
 </div>
</div>
{% endblock main-content %}